body {
    background-color: lightgray;
}

aside {
    position: relative;
    float: left;
    width: 20%;
    top: 0;
    bottom: 0;
}

.addMenu textarea{
    width: 100%;
    max-width: 100%;
}

#content {

    padding: 0px 10px 10px 10px;
    margin:  0px 10px 10px 0px;
    overflow: scroll;
    height: 95%;


}

div.addMenu{
    border: 2px solid cadetblue;
    padding: 30px;
    margin: 10px;
}

div.addMenu label{
    display: block;
    margin: 7px;
}

#confirm {
}

.jezykAddForm {
    display: none;
}
